body {
    background-color: #000;
    text-align: center;
}

footer {
    text-align: right;
    color: gray;
    font-size: 25px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}